*{
    font-family: "Roboto";
}

div .text-uppercase {
    font-size: 24px;
}

.account_content {
    max-width: 500px;
    background: #1C45C7;
    padding: 25px 30px;
    margin: 0 auto;
    margin-top: 25px;
    display: block;
    border-radius: 3px;
}

h3{
    color: white;
}

.navbar {
    background: #F2F3F9;
}
