* {
    font-family: "Roboto";
}

header .text-uppercase {
    font-family: "Roboto";
    font-size: 28px;
    color: black;
}

header a:hover {
    text-decoration: none;
}

.navbar {
    background: #F2F3F9;
}

nav .input-group {
    max-width: 250px;
}

.d-inline-flex {
    max-width: 1000px;
}

.container {
    max-width: 1024px;
    background: #F2F3F9;
    border-radius: 10px;
}


textarea{
    min-height: 300px;
}

.text_style{
    font-size: 28px;
    font-weight: bold;
}

.d-flex .btn{
    min-width: 40%;
}

h4{
    color: #696969;
}